<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
              <small><%= t("FAQ") %></small>
            </h1>
            <ol class="breadcrumb">
              <li><%= link_to t("home"), root_path %>
                </li>
                <li class="active"><%= t("FAQ") %></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%= t("FAQ_1Q") %></h4>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                          <i><%= t("FAQ_1A") %></i>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><%= t("FAQ_2Q") %></h4>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                           <i><%= t("FAQ_2A") %></i>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><%= t("FAQ_3Q") %></h4>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                           <i><%= t("FAQ_3A") %></i>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><%= t("FAQ_4Q") %></h4>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                           <i><%= t("FAQ_4A") %></i>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><%= t("FAQ_5Q") %></h4>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                           <i><%= t("FAQ_5A") %></i>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><%= t("FAQ_6Q") %></h4>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                           <i><%= t("FAQ_6A") %></i>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"><%= t("FAQ_7Q") %></h4>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                           <i><%= t("FAQ_7A") %></i>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight"><%= t("FAQ_8Q") %></h4>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                           <i><%= t("FAQ_8A") %></i>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

            </div>
            <!-- /.panel-group -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
