<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @defect.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @defect.name %>
</p>

<p>
  <strong>Chi name:</strong>
  <%= @defect.chi_name %>
</p>

<p>
  <strong>Chi name:</strong>
  <%= @defect.category %>
</p>

<%= link_to 'Edit', edit_defect_path(@defect) %> |
<%= link_to 'Back', defects_path %>
